 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span3">
          <%= image_tag "home-bag.jpg", :alt => "Nice bag",
                          :id => "HomeBagImage",
                          :class => 'prod-circle' %>
          <h2>Bags</h2>
          <p>We can turn your old jeans into a new bag.</p>
          <p><a class="btn" href="bags.html">See More &raquo;</a></p>

        </div><!-- /.span4 -->
        <div class="span3">
                    <%= image_tag "home-pillow.jpg", :alt => "Soft Pillow",
                          :id => "HomePillowImage",
                          :class => 'prod-circle' %>
         
          <h2>Pillows</h2>
          <p>We can turn your kids' blanket into a decorative pillow.</p>
          <p><a class="btn" href="bags.html">See More &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3">
                    <%= image_tag "home-apron.jpg", :alt => "Sweet Apron",
                          :id => "HomeApronImage",
                          :class => 'prod-circle' %>
          <h2>Aprons</h2>
          <p>We can turn your unused dress into a usuable apron.</p>
          <p><a class="btn" href="bags.html">See More &raquo;</a></p>
        </div><!-- /.span4 -->
       <div class="span3">
                  <%= image_tag "home-surprise.jpg", :alt => "Great Suprise",
                          :id => "HomeBagImage",
                          :class => 'prod-circle' %>
          <h2>Surprise</h2>
          <p>Can't choose? Send us your fabric and we'll create something just for you.</p>
          <p><a class="btn" href="bags.html">See More &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->