<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/slide-01.jpg" alt="" class="blur" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Send us your unused clothing</h1>
              <p class="lead">Can't get rid of it, but not wearing it? We can help!</p>
            </div>
          </div>
        </div>
         <div class="item">
          <img src="../assets/slide-02.jpg" alt="" class="blur">
          <div class="container">
            <div class="carousel-caption">
              <h1>We'll make something special</h1>
              <p class="lead">Our expert seamstresses will upcycle your garment into a special, usable treasure.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/slide-03.jpg" alt="" class="blur darken-20">
          <div class="container">
            <div class="carousel-caption">
              <h1>Enjoy It!</h1>
              <p class="lead">Your memories now stay with you. Everyone you meet will ask for your story.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/slide-04.jpg" alt="" class="blur">
          <div class="container">
            <div class="carousel-caption">
              <h1>Surprise Me</h1>
              <p class="lead">Not sure what you want? Tell us the story of your garment and our designers will give it new life.</p>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
