 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/slide-01.jpg" alt="" class="blur">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mission</h1>
            </div>
          </div>
        </div>


      </div>

    </div>




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span3">
          <img class="prod-circle" src="http://25.media.tumblr.com/tumblr_m54g675MNR1rvcqxro1_500.jpg">
          <h2>Have clothes you can't part with</h2>
          <p>Contact us and we will send you a prepaid envelope. Select what you would like us to make for you. We will send it back to you within 4-6 weeks!</p>
          <p><a class="btn" href="#">Request Envelope! &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3">
           <img class="prod-circle" src="../assets/scraps.jpg">
          <h2>We will make it into something new</h2>
          <p>Sign up and tell us about your special item and our designer and seamstress will recreate your loved item</p>
          <p><a class="btn" href="#">Create a profile &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3">
          <img class="prod-circle" src="https://earth.esa.int/ers/ers_action/Chicago_USA_SAR_IM_Orbit_50037_20041114.jpg">
          <h2>Made in the USA</h2>
          <p>We are located in Chicago. Our goal is to create jobs for women and men looking for new skills and a way to get back into the work field</p>
          <p><a class="btn" href="#">Meet us! &raquo;</a></p>
        </div><!-- /.span4 -->
       <div class="span3">
          <img class="prod-circle" src="http://img3.etsystatic.com/000/3/5295051/il_fullxfull.298823499.jpg">
          <h2>LOVE² Trim</h2>
          <p>You can chose trim from the profiles or we have tons of trim to chose from for you and its all from other loveSqrd peeps</p>
          <p><a class="btn" href="#">Details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/casebag.jpg">
        <h2 class="featurette-heading">Small team<span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">We work with a small team of designers and seamstresses</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/staceybag.jpg">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">We believe if you like an item you should be using it not storing it </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/lowellbag.jpg" width= "250px">
        <div class="content">
          <h2 class="featurette-heading">And lastly, is this one. <span class="muted">Checkmate.</span></h2>
          <p class="lead">All are designs are timeless like your love you have for that fabric, forever and ever!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="holder.js"></script>
    <script src="hover.js"></script>

  </body>
</html>
