 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/slide-01.jpg" alt="" class="blur">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mission</h1>
            </div>
          </div>
        </div>


      </div>

    </div>




    <!-- Marketing messaging and featurettes
    ==================================================
      


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="prod-circle" src="https://earth.esa.int/ers/ers_action/Chicago_USA_SAR_IM_Orbit_50037_20041114.jpg">
        <h2 class="featurette-heading">Made in the USA<span class="muted"> We work with a small team of designers and seamstresses</span></h2>
        <p class="lead">We are located in Chicago. Our goal is to create jobs for women and men looking for new skills and a way to get back into the work field</p>
      </div>
        

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="prod-circle pull-left" src="http://25.media.tumblr.com/tumblr_m54g675MNR1rvcqxro1_500.jpg">
        <h2 class="featurette-heading">Have clothes you can't part with<span class="muted">We believe if you like an item you should be using it not storing it</span></h2>
        <p class="lead">Contact us and we will send you a prepaid envelope. Select what you would like us to make for you. We will send it back to you within 4-6 weeks! </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="prod-circle pull-left" src="home-surprise.jpg" width= "250px">
        <div class="content">
          <h2 class="featurette-heading">We will make it into something new <span class="muted">Sign up and tell us about your special item and our designer and seamstress will recreate your loved item</span></h2>
          <p class="lead">All are designs are timeless like your love you have for that fabric, forever and ever!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

